.button-general-style {
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: 'Roboto', sans-serif;
}

.gradient-button {
    border-radius: 30px;
    background-image: $purple-gradient;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 20px 25px 20px 25px;
    transition: background-image 5000ms, box-shadow 300ms;

    &:hover {
        @include hover-gradient-button;
    }
}

.heart-button {
    background-color: #fff;
    border: none;
    border-bottom-right-radius: 40px;
    width: 50px;
    height: 60px;
}

.new-button {
    background-color: $new-button-background;
    color: #008766;
    padding: 6px 12px 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 500ms, box-shadow 300ms;

    &:hover {
        @include hover-new-button;
    }

    @media all and (min-width: 768px) and (max-width: 1105px) {
        font-size: 12px;
    }
}