@keyframes loader-appearance {
    0% {
        opacity: 1;
        z-index: 2;
    }
    99% {
        opacity: 1;
        z-index: 2;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes icon-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $section-background;
    animation: loader-appearance 3s linear both;
    
    &__anim {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 4px solid transparent;
        background: $section-background;

        &::before {
            content: "";
            width: 120px;
            height: 120px;
            position: absolute;
            top: -4px;
            left: -4px;
            border: 4px solid transparent;
            border-left-color: rgba(153, 226, 208, 0.5);
            border-right-color: rgba(153, 226, 208, 0.5);
            border-radius: 50%;
            animation: spin 700ms linear infinite;
        }
    
        &::after {
            content: "";
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border: 2px solid rgba(255, 121, 218, 0.4);
            border-top-color: $secondary-color;
            border-radius: 50%;
            animation: spin 900ms linear infinite;
            box-shadow: 0 0 10px #a5a5a5;
        }

        &__icon {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            & i {
                align-self: center;
                border-radius: 50px;
                box-shadow: 0 0 10px #a5a5a5;
                padding: 8px 10px 8px 10px;
                color: $primary-color;
                font-size: 30px;  
                animation: icon-scale 1100ms ease-in-out infinite;
            }
        }
    }
}