body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

.menu-title__h1 {
    font-family: 'Shrikhand', sans-serif;
    font-style: italic;
    font-size: 28px;
}