.present {
    background-color: $grey-background;
    text-align: center;

    &__title {
        padding-top: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__paragraph {
        font-size: 18px;
        font-weight: 300;
        color: #353535;
        margin-top: 15px;
    }

    & button {
        margin-top: 15px;
        margin-bottom: 60px;
    }

    @media all and (min-width: 768px) {
        &__title br, &__paragraph br {
            display: none;
        }
        &__title {
            font-size: 40px;
        }
    }
}

.fct-section {
    padding-top: 30px;
    padding-bottom: 40px;

    &__container {
        width: 100%;

        @media all and (min-width: 992px) and (max-width: 1200px) {
            width: 90%;
            margin: auto;
        }

        @media all and (min-width: 1200px) {
            width: 80%;
            margin: auto;
        }
    }

    &__title {
        margin-left: 20px;
        margin-bottom: 25px;
    }

    &__list-container {
        padding: 0;
        width: 100%;

        @media all and (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
    }

    &__list-item {
        margin: 0px 20px 25px 20px;
        padding: 28px 0px 25px 0px;
        background-color: #f9f9f9;
        border-radius: 18px;
        box-shadow: 5px 5px 20px #B3B3B3;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 500ms, box-shadow 300ms;

        &:hover {
            @include hover-fct;
        }

        @media all and (min-width: 768px) {
            margin-left: 1.5%;
            margin-right: 1.5%;
        }
        @media all and (min-width: 768px) and (max-width: 1200px) {
            font-size: 15px;
            width: 30%;
        }
        
        @media all and (min-width: 1200px) {
            padding-right: 4%;
            width: 25%;
        }

        &__number {
            background-color: $primary-background-color;
            color: #fff;
            border-radius: 50%;
            padding: 4px 8px 4px 8px;
            font-size: 14px;
            position: relative;
            left: -10px;
        }

        & i {
            font-size: 20px;
            color: #7e7e7e;
            padding-left: 10px;
            padding-right: 20px;
            position: relative;
            top: 2px;
        }

        & .fa-mobile-screen-button {
            padding-right: 27px;
        }

        & .fa-list-ul {
            padding-right: 22px;
        }

        @media all and (min-width: 768px) {
            & i, & .fa-mobile-screen-button, & .fa-list-ul {
                padding-left: 2%;
                padding-right: 4%;
            }
        }
    }
}

.rest-section {
    background-color: $grey-background;
    padding-bottom: 40px;

    @media all and (min-width: 768px) {
        padding-bottom: 80px;
    }

    &__container {

        @media all and (min-width: 992px) and (max-width: 1200px) {
            width: 90%;
            margin: auto;
        }

        @media all and (min-width: 1200px) {
            width: 80%;
            margin: auto;
        }
    }

    &__title {
        margin: 0px 0px 20px 20px;
        padding-top: 50px;
    }

    &__cards {
        margin: 0px 20px 0px 20px;
        text-align: center;

        @media all and (min-width: 768px) {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 0;
        }
    }
}