.img-background {
    width: 100%;
    height: 275px;

    @media all and (min-width:768px) {
        height: 475px;
    }
}

.img-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    background: $section-background;
    position: relative;
    margin-top: -70px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 40px;

    @media all and (min-width:768px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media all and (min-width:768px) and (max-width:992px) {
        width: 80%;
    }

    @media all and (min-width:992px) {
        width: 70%;
    }

    &__title {
        display: flex;
        align-items: baseline;

        @media all and (min-width:768px) {
            justify-content: center;
        }

    &__h1 {
        margin: 40px 35px 0 15px;
    }

    &__icon {
        font-size: 24px;
    }
    }

    &__category {
        width: 100%;

        &__starters, &__mains, &__desserts {
            @media all and (min-width:768px) and (max-width:1200px) {
                margin: auto;
                width: 70%;
            }
            @media all and (min-width:1200px) {
                margin: auto;
                width: 60%;
            }
        }
    }

    &__category h2 {
        font-size: 16px;
        font-weight: 300;
        margin-top: 40px;
        margin-left: 15px;
        padding-bottom: 5px;
        border-bottom: 3px solid $tertiary-color;
        width: 40px;
    }

    &__button {
        margin-top: 40px;
        text-align: center;

        & button {
            padding: 13px 40px 13px 40px;
        }
    }
}

.menu-list {
    padding-left: 10px;
    padding-right: 10px;

    &__card {
        margin-bottom: 15px;
    }
}