@mixin hover-new-button {
    background-color: $light-new-button-background;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

@mixin hover-fct {
    background-color: #F5EDFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    .fct-section__list-item__icon {
        color: $primary-color;
    }
}

@mixin return-button {
    border-radius: 50px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    color: $primary-color;
    padding: 5px 8px 3px 8px;
    .fa-arrow-left{
        transform: scale(1.15);
    }
}

@mixin check-button {
    & .menu-list__card__price {
        margin-right: 20px;
    }
    & .menu-list__card__check {
        margin-right: 0;
        opacity: 1;

    & .fa-circle-check {
        animation: icon-check-anim 300ms linear;
    }
    }
}

@mixin menu-animation {
    animation: menu-appearance $menu-appear-dur both;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: $menu-appear-delay * $i;
        }
    }
}

@mixin menu-animation-var {
    animation: menu-appearance $menu-appear-dur-var both;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: $menu-appear-delay * $i;
        }
    }
}