.footer {
    background-color: #353535;
    color: #FFF;
    .logo {
        font-size: 18px;
        padding: 40px 0px 0px 60px;
    }
    ul {
        margin-top: 40px;
        padding-left: 60px;
        padding-bottom: 60px;
    }
    li {
        margin-top: 10px;
    }
    &__links {
        font-size: 16px;
        font-weight: 400;
        color: #FFF;
    }
    &__icons {
        font-size: 12px;
        padding-right: 10px;
        &--first {
            padding-right: 22px;
        }
    }
}